<div class="hero">
  <div class="hero__header">
    <h1 class="hero__title">{{title}}</h1>
  </div>
  <div class="hero__chapo">
    <p>{{chapo}}</p>
  </div>
  <picture class="hero__img">
    <img src="/src/assets/photos/{{imgName}}" alt="{{imgAlt}}" />
  </picture>
</div>